<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/adminHeader::html('产品属性管理')" ></head>
<body>
<div th:replace="include/admin/adminNavigator::html" ></div>
<script>
  $(function(){
	  var cid = getUrlParms('pid');
	  var data4Value = {
	    		uri:'ProductValue',		    		
	    		beans:[]	    		
	    	};
	  var vue = new Vue({
  		el:'#workingArea',
  		data:data4Value,
  		mounted:function(){
  			this.list();
  		},
  		methods:{
  			list:function(){
  				var url = this.uri+"/"+pid;
  				axios.get(url).then(function(response){
  					vue.beans = response.data;
  				});
  			}
  		}
	  });
  });


</script>
<div id="workingArea" >
    <ol class="breadcrumb">
        <li><a href="admin_category_list">所有分类</a></li>
        <li><a :href="'admin_product_list?cid='+category.id">{{category.name}}</a></li>
        <li class="active">{{product.name}}</li>
        <li class="active">产品属性管理</li>
    </ol>
 
    <div class="editPVDiv">
        <div v-for="bean in beans" class="eachPV">
            <span class="pvName" >{{bean.property.name}}</span>
            <span class="pvValue"><input class="pvValue" :id="'pvid'+bean.id" type="text" v-model="bean.value" @keyup="update(bean)"></span>
        </div>
        <div style="clear:both"></div>
    </div>
 
</div>
 
<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>